<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itedus.lottery.infrastructure.dao.IAwardDao">
    <resultMap id="Award" type="cn.itedus.lottery.infrastructure.po.Award">
        <id column="id" property="id"/>
        <result column="awardId" property="awardId"/>
        <result column="awardType" property="awardType"/>
        <result column="awardName" property="awardName"/>
        <result column="awardCount" property="awardCount"/>
        <result column="awardContent" property="awardContent"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="updateTime"/>

    </resultMap>
    <select id="queryAwardInfo" parameterType="java.lang.String" resultMap="Award">
        SELECT  id,awardId,awardType,awardName,awardContent,awardCount,createTime,updateTime
        FROM award WHERE awardId=#{awardId}
    </select>


</mapper>